@model IEnumerable<CDFStaffManagement.Services.StoredProcedures.UserList>

@{
    ViewData["Title"] = "UserList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="card ">
                <div class="card-header card-header-primary card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">assignment</i>
                    </div>
                    <h5 class="card-title">User List</h5>

                </div>
                <div class="card-body">
                    <div class="">
                        <button type="button" rel="tooltip" class="btn btn-info btn-sm pull-right">
                            <a asp-action="SignUp"><i class="material-icons">person</i>New User</a>
                        </button>
                    </div>
                    <div class="material-datatables">
                        <table id="datatables" class="table  table-hover" data-order='[[ 0, "desc" ]]' cellspacing="0" width="100%" style="width:100% ;font-size:small;font-family:'Times New Roman', Times, serif">
                            <thead>
                                <tr class="">
                                    <th class="ID d-none"> Id </th>
                                    <th>Username</th>
                                    <th>Email Adrress </th>
                                    <th>User Role </th>
                                    <th>Status </th>
                                    <th>Date Created </th>
                                    <th> Last Logon </th>
                                    <th><center> Actions </center></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td class="d-none">
                                            @Html.DisplayFor(modelItem => item.UserId)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Username)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.EmailAddress)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.RoleDescription)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ProfileStatus)
                                        </td>
                                        <td>
                                            @{
                                                var d = item.DateCreated;
                                                var date = d.ToString("MMMM d, yyyy");
                                            }
                                            @date
                                        </td>
                                        <td>
                                            @{
                                                var dat = item.LastLogon;
                                                var convertedDate = dat.ToString("MMMM d, yyyy");
                                            }
                                            @convertedDate
                                        </td>
                                        <td>
                                            <button type="button" rel="tooltip" class="btn btn-success btn-round btn-sm edit" title="Edit">
                                                <i class="material-icons">edit</i>Edit
                                            </button>
                                            <button type="button" rel="tooltip" class="btn btn-danger btn-round btn-sm  disable" title="Disable">
                                                <i class="material-icons">close</i>Disable
                                            </button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/jquery/jquery.js"></script>
<script>
    $(document).ready(function () {
        $('#datatables').DataTable({
            "pagingType": "full_numbers",
            //"lengthMenu": [
            //    [10, 25, 50, -1],
            //    [10, 25, 50, "All"]
            //],
            responsive: true,
            language: {
                search: "_INPUT_",
                searchPlaceholder: "Search records",
            }
        });
        let table = $('#datatable').DataTable();

        // Edit record
        table.on('click', '.edit', function () {
            $tr = $(this).closest('tr');
            let data = table.row($tr).data();
            alert('You press on Row: ' + data[0] + ' ' + data[1] + ' ' + data[2] + '\'s row.');
        });

        // Delete a record
        table.on('click', '.remove', function (e) {
            $tr = $(this).closest('tr');
            table.row($tr).remove().draw();
            e.preventDefault();
        });

        //Like record
        table.on('click', '.like', function () {
            alert('You clicked on Like button');
        });
    });
</script>
